*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    background-color: #707070;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
}

nav{
    position: absolute;
    width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
}

header >nav >ul{
    position: absolute;
    right: 0px;
    width: 484px;
    display: flex;
    justify-content: space-between;
}

header >nav >ul >a >li{
    position: relative;
    list-style: none;
    width: 121px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2em;
    margin-bottom: 0px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #F5F1E7;
}

header >nav >ul >a >li:hover{
    background-color: #FF803C;
    font-size: 14px;
    letter-spacing: 0.3em;
    transition: 0.5s;
}

.menu1{
    background-color: #FF803C;
    font-size: 14px;
}

section{
    position: relative;
    width: 100%;
    height: 4900px;
    display: flex;
    justify-content: center;
}

.main{
    width: 1200px;
}

.title{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -770px;
}

.profile{
    height: 840px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skyline{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 550px;
}

.architect{
    margin-top: 150px;
    height: 850px;
}

.architect >img{
    margin-bottom: 50px;
}

.architect >h2{
    margin-bottom: 10px;
}

.professor{
    margin-top: 150px;
    height: 580px;
}

.professor >img{
    margin-bottom: 50px;
}

.writter{
    margin-top: 150px;
    height: 980px;
}

.writter >img{
    margin-bottom: 50px;
}

.designer{
    margin-top: 150px;
    height: 950px;
}

.designer >img{
    margin-bottom: 50px;
}

.line{
    display: flex;
    flex-basis: 100%;
    align-items: center;
}

.line::before{
    content: "";
    flex-grow: 1;
    margin: 0px 30px;
    background: rgba(0,0,0,0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}

.line::after{
    content: "";
    flex-grow: 1;
    margin: 0px 30px;
    background: rgba(0,0,0,0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}

h1{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.4em;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #707070;
}

h2{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2em;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #707070;
}

h3{
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #707070;
}

.wrap{
    display: flex;
}

.book{
    position: relative;
    left: 30%;
}

.publish{
    position: relative;
    left: 40%;
}

.year{
    position: relative;
    left: 44%;
}

.column{
    position: relative;
    left: 30%;
}

.news{
    position: relative;
    left: 52%;
}

.tv_year{
    position: relative;
    left: 30%;
}

.broadcast{
    position: relative;
    left: 35%;
}

.program{
    position: relative;
    left: 52%;
}

ul{
    list-style: none;
}

li{
    height: 20px;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #707070;
}

.float{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #707070;
    right: 10%;
    bottom: 8%;
}

.up{
    color: #F5F1E7;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 8px;
    font-size: 20px;
}

.up:hover{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #FF803C;
    padding-top: 2px;
    font-size: 22px;
    transition: 0.3s;
}

footer{
    background-color: #707070;
    width: 100%;
    height: 75px;
    bottom: 0px;
    position: relative;
    display: flex;
    justify-content: center;
}

.footer{
    position: absolute;
    width: 1200px;
    height: 75px;
    display: flex;
    align-items: center;
}

.caption{
    position: absolute;
    left: 0px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #F5F1E7;
}

.copyright{
    position: absolute;
    right: 0px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 300;
    font-size: 10.5px;
    color: #F5F1E7;
}